{% extends 'productapp/base.html' %}
{% block title %}The Cart{% endblock %}
{% block content %}
<div class="container">
    <p></p>
    <h1>ตะกร้าสินค้าของฉัน</h1>
    <table class="table table-borderless">
        <thead>
          <tr>
            <th>รายการสินค้า</th>
            <th>จำนวนสินค้า</th>
            <th>ราคาสินค้า</th>
            <th>ราคารวม</th>
            <th>แอคชั่น</th>
          </tr>
        </thead>
        <tbody>
          {% for cart_item in item %}
          <tr>
            <td>{{cart_item.product_id.product_name}}</td>
            <td>{{cart_item.product_qty}}</td>
            <td>{{cart_item.product_price}}</td>
            <td>{% widthratio cart_item.product_qty 1 cart_item.product_price %}</td>
            <td><a href="del_cart_item/{{cart_item.product_id_id}}" onclick="return confirm('ต้องการลบ ?')" class="btn btn-outline-danger">ลบ</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/checkout" class="btn btn-outline-success">สั่งซื้อ</a>
</div>
{% endblock content %}