{% extends 'productapp/base.html' %}
{% block title %}Add Product{% endblock %}
{% block content %}
<div class="container">
  <form action="/editproduct/{{product.product_id}}" method="POST">
    {% csrf_token %}
    <h3>แก้ไขสินค้า</h3>
    <div class="form-group">
      <label for="product_name">ชื่อสินค้า</label>
      <input type="text" class="form-control" name="product_name" placeholder="กรอกชื่อสินค้า" value="{{product.product_name}}">
    </div>
    <div class="form-group">
      <label for="product_qty">จำนวน</label>
      <input type="number" class="form-control" name="product_qty" placeholder="กรอกจำนวนสินค้า" value="{{product.product_qty}}">
    </div>
    <div class="form-group">
      <label for="product_price">ราคา</label>
      <input type="number" class="form-control" name="product_price" placeholder="กรอกราคาสินค้า" value="{{product.product_price}}">
    </div>
    <div class="form-group">
      <label for="product_detail">รายละเอียดสินค้า</label>
      <input type="textarea" class="form-control" name="product_detail" placeholder="ระบุรายละเอียดสินค้า" value="{{product.product_detail}}">
    </div>
    <button type="submit" class="btn btn-outline-success">แก้ไขสินค้า</button>
  </form>
</div>
{% endblock content %}