{% extends 'productapp/base.html' %}
{% block title %}checkout{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <h3>รายการสั่งซื้อของฉัน</h3>
          {% for order in showmyorder %}
        <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col">
                <h5>หมายเลข order : {{order.order_id}} วันที่สั่ง : {{order.order_date}} ชื่อผู้สั่งซื้อ : {{order.order_username}} 
                ราคารวม : {{order.order_total}} </h5>
                </div>
              <div class="col-mtauto"> 
                สถานะ
              </div>  </div>  
            </div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col">          
                    <p>ที่อยู่จัดส่ง : {{order.order_address}} , โทร : {{order.order_tel}}</p>
                      <p>รายการสินค้า : 
                {% for p in dtl %}
                {% if p.order_id_ref_id ==  order.order_id %}
                {{p.p_id}}
                {% endif %}
                {% endfor %}</p>
              </div> 
                <div class="col-mt-auto"></div> 
                </div> 
            </div> 
                {% endfor %}
        </div>
</div>
{% endblock content %}