{% extends 'productapp/base.html' %}
{% block title %}checkout{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <h3>รายการสั่งซื้อของฉัน</h3>
    {% csrf_token %}    
    <div class="row">
        {% for order in showmyorder %}
    <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">หมายเลข order : {{order.order_id}} วันที่สั่ง : {{order.order_date}}</h5>
      <p class="card-text">รายการสินค้า : 
        {% for i in item %}
        {{i.p_id}}
        {% endfor %}</p>
      <p class="card-text">ราคารวม : {{order.order_total}}</p>
    </div>
    </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}