{% extends 'productapp/base.html' %}
{% block title %}Search Product{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <h3>ค้นหาสินค้า</h3>
    <form action="" method="POST">
        {% csrf_token %}
        กรอกชื่อสินค้า : 
        <input type="text" name="search_product" placeholder="ระบุชื่อสินค้า">
        <button type="submit" class="btn btn-primary" >ค้นหา</button>
    </form>
    <div class="row">
        {% for p in result %}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'img/test-product.jpg' %}" alt="ภาพตัวอย่าง">
    <div class="card-body">
      <h5 class="card-title">{{p.product_name}}</h5>
      <p class="card-text">{{p.product_price}}</p>
      <a href="addtocart/{{p.product_id}}" class="btn btn-primary">+ add to cart</a>
    </div>
    </div>
        {% endfor %}
    </div>
</div>
{% endblock %}