{% extends 'productapp/base.html' %}
{% block title %}Show Product{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    {% csrf_token %}
    <div class="row">
        {% for p in product %}
        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/test-product.jpg'%}" alt="ภาพตัวอย่าง">
                <div class="card-body">
                    <h5 class="card-title">{{p.product_name}}</h5>
                    <p class="card-text">{{p.product_price}}</p>
                    <a href="addtocart/{{p.product_id}}" class="btn
                        btn-outline-success"><ion-icon name="cart-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}